trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
      - master

pool:
  vmImage: ubuntu-latest

services:
  postgres:
    image: postgres:16
    env:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fixiotech
    ports:
      - 5432:5432
    options: >-
      --health-cmd="pg_isready -U postgres"
      --health-interval=10s
      --health-timeout=5s
      --health-retries=10


steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "20.x"
    displayName: "Use Node.js 20"

  - script: |
      npm ci
    displayName: "Install deps"

  - script: |
      cd backend
      npm ci
    displayName: "Install deps for backend"

  - script: |
      sudo apt-get update
      sudo apt-get install -y postgresql-client
    displayName: Install psql client

  - script: |
      export PGPASSWORD=postgres
      psql -h localhost -U postgres -d fixiotech -c "DO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = 'fixio_local') THEN CREATE ROLE fixio_local LOGIN PASSWORD 'fixio_local'; END IF; END $$;"
      psql -h localhost -U postgres -d fixiotech -f backend/bd/fixiotech.sql
    displayName: Init DB schema (fixiotech.sql)

  - script: |
      npm test
    displayName: Run tests (backend and frontend)