frontend/src/vues/horaires.css [24:29]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  margin-bottom: 1rem;
  text-align: center;
}
.success-message {
  background-color: #2ecc71;
  color: white;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/vues/inscription.css [82:88]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  margin-bottom: 1rem;
  text-align: center;
}

.success-message {
  background-color: #2ecc71;
  color: white;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



