frontend/src/vues/rendez-vous.css [270:275]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  color: white;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  animation: slideDown 0.3s ease;
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/vues/rendez-vous.css [279:284]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  color: white;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  animation: slideDown 0.3s ease;
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



