frontend\src\vues\horaires.css [84:93]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #2c3e50;
  border-radius: 4px;
  position: relative;
  outline: none;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend\src\vues\horaires.css [165:174]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #2c3e50;
  border-radius: 4px;
  position: relative;
  outline: none;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



