frontend/src/vues/inscription.css [96:102]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdde1;
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  color: #2c3e50;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/vues/login.css [37:43]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdde1;
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  color: #2c3e50;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



