frontend/src/vues/contact.css [318:324]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  }

  .bouton-soumettre {
    font-size: 1rem;
    padding: 0.875rem;
  }
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/vues/rendez-vous.css [370:376]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  }

  .bouton-soumettre {
    font-size: 1rem;
    padding: 0.875rem;
  }
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



