frontend/src/vues/contact.css [143:166]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-groupe {
  display: flex;
  flex-direction: column;
}

.form-groupe label {
  color: #2c3e50;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.form-input,
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/vues/rendez-vous.css [159:182]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-groupe {
  display: flex;
  flex-direction: column;
}

.form-groupe label {
  color: #2c3e50;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.form-input,
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



